@import 'tailwindcss';

@layer base {
  body {
    @apply antialiased text-gray-800;
  }
}

@theme {
  --color-primary: #00a651;
  --color-primary-50: #e6f6ec;
  --color-primary-100: #c0ebd1;
  --color-primary-200: #95deb4;
  --color-primary-300: #6ad096;
  --color-primary-400: #40c279;
  --color-primary-500: #00a651;
  --color-primary-600: #008c44;
  --color-primary-700: #007337;
  --color-primary-800: #00592b;
  --color-primary-900: #00401e;

  --color-primary-DEFAULT: var(--color-primary);
}
